.driver-photo-wrapper {
    width: fit-content;
    position: relative;

    .driver-photo {
        width: 300px;
        margin: 25px 0;
    }

    .driver-photo-delete {
        position: absolute;
        top: 3%;
        right: -10%;
        font-size: 25px;
        cursor: pointer;
        transform: rotate(45deg);
    }
}
