.driver-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .driver-item {
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
        position: relative;

        .item-delete {
            position: absolute;
            top: 3%;
            right: 3%;
            font-size: 30px;
            cursor: pointer;
            rotate: 45deg;
        }
    }
}
