.driver-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .driver-item {
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
        position: relative;

        .item-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 3%;
            right: 3%;
            font-size: 20px;

            .item-delete,
            .item-edit {
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: lightgrey;
                }
            }
        }
    }
}
